@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DarumadropOne';
  src: url('/assets/fonts/DarumadropOne-Regular.ttf') format('truetype');
  /* Add other font file formats if you have them */
}

.nav-transparent {
  background-color: transparent !important;
}