@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DarumadropOne';
  src: url('/assets/fonts/DarumadropOne-Regular.ttf') format('truetype');



}

.nav-transparent {
  background-color: transparent !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1; 
}

.overlay.show {
  opacity: 1;
}
